.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  //background: linear-gradient(to right, #5454D9 , #8867F2, #4B92F2);
  background: black;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
  font-style: italic;
}

.App-intro {
  font-size: large;
}

.summary-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 450px;
}

.summary-column {
  padding-left: 20px;
  padding-right: 20px;
}

.detail-view {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 50px;
}

.parent-margin {
  margin-left: 150px;
  margin-right: 150px;
}

.pointer {
  cursor: pointer;
}
